body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

a {
  color: #00B7FF;
}

#show-container{
  font-size:20px;
  display:flex;
  align-items:stretch;
  text-align: center;
  justify-content: space-around;
  margin-right:0px;
  
}

.lower-container{

 
}
/* #flights-form{
  display:flex;
  align-items:center;
} */
